@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	text-wrap-style: pretty;
}

html,
body {
	@apply tracking-tighter bg-black;
	font-weight: 430;
	font-style: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

::-moz-selection {
	/* Code for Firefox */
	color: white;
	background: #ff4500;
}

::selection {
	color: white;
	background: #ff4500;
}

@layer base {
	main {
		@apply relative min-h-screen px-4 bg-white;
	}
	article {
		@apply max-w-screen-lg pt-20 pb-40 mx-auto;
	}
	button {
		@apply px-5 py-3 my-8 tracking-wide text-white uppercase transition-all lg:text-lg md:text-base sm:text-sm rounded-2xl bg-ruby-400 hover:bg-ruby-400/10 hover:text-ruby-400;
	}

	p {
		@apply md:mb-4 sm:mb-1 sm:text-sm md:text-base;
	}
}
